<!DOCTYPE html>
<html>
    <head></head>
    <body>
        {% if error %}
        <p style="background: red; color: white;">{{ error }}</p>
        {% endif %}
        <form action="/index.html" method="POST">
            <label for="your_name">Nombre</label> 
            <input id="your_name" value="{% if fields and fields['your_name'] %}{{ fields['your_name'].value }}{% endif %}" type="TEXT" name="your_name" /> 
            <label for="favorite_color">Color favorito</label> 
            <input id="favorite_color" value="{% if fields and fields['favorite_color'] %}{{ fields['favorite_color'].value }}{% endif %}" type="TEXT" name="favorite_color" /> 
            <label for="company">Company</label> 
            <input id="company" value="{% if fields and fields['company'] %}{{ fields['company'].value }}{% endif %}" type="TEXT" name="company" /> 
            <input value="Enviar" type="SUBMIT" />
        </form> 
        <p><a href="db.txt">Descargar archivo</a></p>
    </body>
</html>
